<div class="row">

    <div class="col-12">
        <!--
        <a href="https://www.imwplus.com.br/app/financeiro-planoconta/new" title="Inserir um novo registro" class="btn btn-primary right"> <i class="fas fa-plus-circle"></i> Novo </a>
-->
        <table class="table table-striped" style="font-size: 90%; margin-top: 15px;">
            <thead class="thead-light">
                <tr>

                    <th style="width: 60px;">Codigo</th>
                    <th>Nome</th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>1</td>
                    <td>ENTRADAS</td>
                    <td class="table-action">
                    </td>
                </tr>
                <tr>
                    <td>1.01</td>
                    <td>DÍZIMOS</td>
                    <td class="table-action">
                    </td>
                </tr>
                <tr>
                    <td>1.01.01</td>
                    <td>Dizimo dos Membros</td>
                    <td class="table-action"></td>
                </tr>

                <tr>
                    <td>1.01.02</td>
                    <td>Dizimo dos Congregados</td>
                    <td class="table-action"></td>
                </tr>
            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item active">
                    <a href="#" class="page-link">
                        1 </a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">
                        2 </a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">
                        3 </a>
                </li>

                <li class="page-item">
                    <a href="#" aria-label="Next"
                        class="page-link">
                        <span aria-hidden="true">Próximo</span>
                    </a>
                </li>
                <li class="page-item">
                    <a href="#" aria-label="Last"
                        class="page-link">
                        <span aria-hidden="true">Último</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>