<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">Listagem de Registros</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <a href="#" title="Inserir um novo registro"
                    class="btn btn-primary right"> <i class="fas fa-plus-circle"></i> Novo </a>
                <table class="table table-striped" style="font-size: 90%; margin-top: 15px;">
                    <thead class="thead-light">
                        <tr>
                            <th>Descrição</th>
                            <th>Tipo</th>
                            <th width="150"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Caixa Banco Bradesco</td>
                            <td>Banco </td>
                            <td class="table-action">
                                <a href="#" title="editar"
                                    class="btn"><i class="align-middle fas fa-fw fa-pen"></i></a>
                                <a href="#" title="apagar"
                                    class="btn"><i class="align-middle fas fa-fw fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Caixa Comunicação</td>
                            <td>Secundário </td>
                            <td class="table-action">
                                <a href="#" title="editar"
                                    class="btn"><i class="align-middle fas fa-fw fa-pen"></i></a>
                                <a href="#"  title="apagar"
                                    class="btn"><i class="align-middle fas fa-fw fa-trash"></i></a>
                            </td>
                        </tr>
                            <td>Caixa Missões (caixa bradesco)</td>
                            <td>Banco </td>
                            <td class="table-action">
                                <a href="#" title="editar"
                                    class="btn"><i class="align-middle fas fa-fw fa-pen"></i></a>
                                <a href="#" title="apagar"
                                    class="btn"><i class="align-middle fas fa-fw fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Caixa Principal</td>
                            <td>Principal </td>
                            <td class="table-action">
                            </td>
                        </tr>
                        <tr>
                            <td>Cozinha</td>
                            <td>Secundário </td>
                            <td class="table-action">
                                <a href="#" title="editar"
                                    class="btn"><i class="align-middle fas fa-fw fa-pen"></i></a>
                                <a href="#" title="apagar"
                                    class="btn"><i class="align-middle fas fa-fw fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item active">
                            <a href="#" class="page-link">
                                1 </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>